.productsList {
    width: 80vw;
    height: 50vh;
    border-radius: 3px;
    border: 1px solid white;
    background-color: #393d46ec;
    display: flex;
    justify-content: space-evenly;
    overflow:auto;
    color: white;
  }
  
  .productListContainer{
    display: flex;
    justify-content: center;
  }
  
  .productTable {
    width: 100%;
  }
  
  .statusCheckbox {
    width: 20px;
    height: 20px;
  }
  
  .itsDone {
    text-decoration: line-through;
  }
  
  .cursorPointer {
    cursor: pointer
  }

  th {
    border-bottom: 2px solid white;
  }

  td {
    border-bottom: 1px solid white;
  }

