.inputName {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  font-size: 18px;
  height: 20px;
  padding: 0 10 0 10;
  width: 60vw;
  margin-bottom: 5px;
  margin-left: 10px;
}

.inputPrice {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  font-size: 18px;
  height: 20px;
  padding: 0 10 0 10;
  width: 60vw;
  margin-bottom: 5px;
  margin-left: 10px;
}

.inputDescription {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  font-size: 18px;
  height: 20px;
  padding: 0 10 0 10;
  width: 58vw;
  margin-bottom: 5px;
}

.inputAmount {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  font-size: 18px;
  height: 20px;
  padding: 0 10 0 10;
  width: 56.7vw;
  margin-bottom: 5px;
}

.btnSubmit {
  background-color: #008a9c;
  border: 1px solid black;
  border-radius: 5px;
  color: rgb(255, 238, 238);
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  height: 40px;
  width: 33vw;
}

.btnExclude {
  background-color: #ff0000;
  border: 1px solid black;
  border-radius: 5px;
  color: rgb(255, 238, 238);
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
  height: 40px;
  width: 33vw;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

text {
  color: white;
  margin-right: 10px;
}